<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput name="name" ngModel type="text" placeholder="Username" #nameInput="ngModel" required>
      <mat-error *ngIf="nameInput.invalid">Please enter a valid name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>
