mat-form-field {
  width: 100%;
}

button {
  margin: 0 0.5rem;
}

input[type="file"] {
  visibility: hidden;
}

.image-picker,
.image-preview {
  margin-bottom: 1rem;
}

.image-preview {
  height: 5rem;
}

.image-preview img {
  height: 100%;
}
